@keyframes affichage_taskbar {
    from {
        transform: translateY(10vh);
    }

    to {
        transform: translateY(0vh);
    }
}

@keyframes hover_linear {
    from {
        background-color: rgba(44, 41, 38, 0);

    }

    to {
        background-color: rgba(44, 41, 38, 1);
    }
}


#taskbar {

    height: 6vh;
    width: 100%;
    background-color: #1c1a18;

    display: flex;
    /* justify-content: center; */
    align-items: center;

    animation-name: affichage_taskbar;
    animation-duration: 0.8s;

}

.element_taskbar { 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 85%;
    width: 5.2vh;
    
    margin-left: 0.5vh;

    cursor: pointer;
}

.element_taskbar > *{
    height: 65%;
    
}

.element_taskbar:hover{
    border-radius: 7px;

    animation-name: hover_linear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}